.mdx-code {
    color: #785801;
}
.mdx-pre {
    background-color: #dddddd;
    padding: 1rem;
    border-radius: 0.5rem;
}
.mdx-flavor {
    padding: 1.5rem 10% 1.5rem 20%;
    font-style: italic;
}
.mdx-ul {
    padding: 1rem 1rem 1rem 3rem;
    background-color: #ddddd0;
}
figure {
    margin: 0;
    padding: 0;
}
figcaption {
    text-align: center;
}
