.mdx-code {
    color: #785801;
}
.mdx-pre {
    background-color: #dddddd;
    padding: 1rem;
    border-radius: 0.5rem;
    white-space: pre-wrap;
}
.mdx-flavor {
    padding: 1.5rem 10% 1.5rem 20%;
    font-style: italic;
}
.mdx-ul {
    padding: 1rem 1rem 1rem 3rem;
    background-color: #ddddd0;
}
.mdx-table {
    width: 80%;
    padding: 1rem;
    border-collapse: collapse;
}
.mdx-thead {
    background-color: #cccccc;
}
.mdx-th {
    border: solid 1px #888888;
    padding: 0.5rem;
}
.mdx-td {
    border: solid 1px #888888;
    padding: 0.5rem;
}
figure {
    margin: 0;
    padding: 0;
}
figcaption {
    text-align: center;
}
