.mdx-code {
    color: #785801;
}
.mdx-pre {
    background-color: #dddddd;
    padding: 1rem;
    border-radius: 0.5rem;
}
figure {
    margin: 0;
    padding: 0;
}
figcaption {
    text-align: center;
}
